%table.table.sortable.table-bordered
  %thead
    %hr
      %th Id
      %th Nebis
      %th Name
      %th Lab
      %th.right N. of Loans
  %tbody
    = render :partial => "adm/users/user", :collection => @users
