-content_for(:title) do
  =@user.name
  %small user details

%dl.dl-horizontal
  %dt Id / Nebis User Id
  %dd
    =@user.id
    ="/"
    = @nebis_user ? @nebis_user.id : nil
  %dt Location
  %dd=@user.location
  -if can? :update, @user
    %dt Nebis
    %dd=link_to @user.nebis, nebis_url(@user.nebis)
  %dt Email
  %dd=@user.email
  %dt Lab
  %dd=@user.lab.nick

%p
  = link_to "Back to users listing", adm_users_path
%h3 Checked out Items
-if @loans.empty?
  %p#emptybooklist
    No items.
%ul#booklist.booklist.unstyled
  = render :partial => "loans/loan", :collection => @loans

