%table.table.sortable.table-bordered
  %thead
    %hr
      %th Id
      %th Location
      %th Label
      - if @inventory_session.nil?
        %th No. Items
      - else
        %th No. Items (before)
        %th No. Items (after)
  %tbody
    = render :partial => "adm/shelves/shelf", :collection => @shelves, :locals => { :inventory_session => @inventory_session }
