%tr
  %td
    %strong=label_layout.name
  %td=label_layout.description
  %td
    -#=link_to "Details", adm_label_layout_path(label_layout d)
    =link_to "Details", [:adm, label_layout]
    \|
    =link_to "Edit", edit_adm_label_layout_path(label_layout)
