-content_for(:title) do
  Listing Inventory Sessions

%table.table.sortable
  %thead
    %hr
      %th Id
      %th Name
      %th Owner
      %th No. Items
      %th Unchecked
      %th Birthday
      %th
  %tbody
    = render :partial => "adm/inventory_sessions/inventory_session", :collection => @inventory_sessions

= link_to 'New Inventory session', new_adm_inventory_session_path
