-content_for(:title) do
  =@user.name
  %small
    \-
    =@user.lab.nick
    - if can? :update, @user
      \-
      =link_to @user.nebis, nebis_url(@user.nebis)
      \-
      =link_to @user.id, @user

- if @loan
  .row
    .span6
      %p
        Hello #{@user.name}, please fill the form with the inventory number of
        the item your would like to check out or click on the
        %em return
        link corresponding to the item that you are returning to the library.
      %p
        You can also your use the bar-code scanner to add or remove a book from
        your list.
    .span6
      = render :partial => "loans/loan_form"

%h3 Checked out Items
-if @loans.empty?
  %p#emptybooklist
    No items.
%ul#booklist.booklist.unstyled
  = render :partial => "loans/loan", :collection => @loans

-# =============================================================================
