.container
  %row
    .span3
      %ul{class: "nav nav-list bs-docs-sidenav affix-bottom", data: {spy: "affix"}}
        %li.nav-header List Header
        %li
          %a{href: '#byImages'}
            %i.icon-shevron-right
            Gallery
        %li
          %a{href: '#usage'}
            %i.icon-shevron-right
            Library usage
        %li
          %a{href: '#newUser'}
            %i.icon-shevron-right
            New user ?
        %li
          %a{href: '#Login'}
            %i.icon-shevron-right
            Operator Login
    .span8
      %section{id: "byImages"}
        .page-header
          %h2 Thot by images
        #introcarousel{class: "carousel slide", data: {interval: ""}}
          %ol{class: "carousel-indicators"}
            %li{:data => {"target" => "#introcarousel", "slide-to" => "0"}, :class => "active" }
            %li{:data => {"target" => "#introcarousel", "slide-to" => "1"} }
            %li{:data => {"target" => "#introcarousel", "slide-to" => "2"} }
            %li{:data => {"target" => "#introcarousel", "slide-to" => "3"} }
          %div{:class => "carousel-inner"}
            .item.active
              =image_tag image_path("docs/home_full.png") #, size: "367x143"
              .carousel-caption
                %h4 The main search form
                %p
                  Fill the form fields with informations about the book your are looking for and click on the
                  %em Go Search! button
            .item
              =image_tag image_path("docs/quick_search.png")
              .carousel-caption
                %h4 Quick search form
                %p  Use the quick search field that is always visible for searching books by author, editor, or title.
            .item
              =image_tag image_path("docs/user_login.png")
              .carousel-caption
                %h4 Searching a user by email
                %p
                  Click the
                  %em User
                  link and enter you e-mail address in the field for obtaining the
                  %b user details view.
                  In alternative, you can scan your NEBIS code with the barcode scanner.

            .item
              =image_tag image_path("docs/user_view.png")
              .carousel-caption
                %h4 User Details View
                %p
                  To borrow (checkout) another book just enter its inventory number in the field on the top right of the page,
                  or scan the book's barcode.
                  To return a book, click on the
                  %em return
                  link, or scann the book's barcode.


          %a{class: "carousel-control left",  href: "#introcarousel", data: {slide: "prev"}} &lsaquo;
          %a{class: "carousel-control right", href: "#introcarousel", data: {slide: "next"}} &rsaquo;

      %section{id: "usage"}
        %h2 Library Usage
        %p
          When you need to borrow a book from the library or you want to return a book to the library, please direct the browser to your user page. This can be done by either scanning the NEBIS code on the back of your camipro card if you are at EPFL, or by entering your e-mail address in the field that appears when you click on the
          %em User
          link that is shown on the top bar.
        %p
          Once you are on your user page, you can checkout a new book by scanning its barcode, or by entering its inventory number in the
          %em checkout
          text field on the top of the page.
        %p
          Similarly, to checkin (return) a book, please click on the correspondent
          %em return
          link, or scan the book's barcode with the barcode scanner.

        %h4 Advice
        .alert
          Please
          %strong do not take any book out of the library
          without #{link_to "checking it out", "#checkout"} first.

      %section{id: "newUser"}
        %h2 New user?
        %p If you have never used thot, please ask the library manager to create an account for you.

      %section{id: "Login"}
        .page-header
          %h2 Operator Login
        #opcarousel{class: "carousel slide", data: {interval: ""}}
          %ol{class: "carousel-indicators"}
            %li{:data => {"target" => "#opcarousel", "slide-to" => "0"}, :class => "active" }
            %li{:data => {"target" => "#opcarousel", "slide-to" => "1"} }
          %div{:class => "carousel-inner"}
            .item.active
              =image_tag image_path("docs/op_login.png")
              .carousel-caption
                %h4 Operator Login
                %p
                  Clicking on the
                  =link_to "Admin login", new_admin_session_path
                  link you will be presented with the usual e-mail/password form for identification.
            .item
              =image_tag image_path("docs/op_menu.png")
              .carousel-caption
                %h4 Admin Menu.
                %p  A drop down menu contains the links to all the actions needed by a library operator.
          %a{class: "carousel-control left",  href: "#opcarousel", data: {slide: "prev"}} &lsaquo;
          %a{class: "carousel-control right", href: "#opcarousel", data: {slide: "next"}} &rsaquo;
        %p
          To authenticate as a library operator, click on the
          =link_to "Admin login", new_admin_session_path
          link and fill the ususl e-mail/password form with your credentials.
        %p
          Once logged in, the
          %em Admin Menu
          as well as a
          %em Logout
          link
          will be added to the top bar.
          .alert
            Don't forget to logout if you are working on the public library computer or the users will not be able to use the barcode scanner to check in/out the books.
        %p
          The
          %em Admin Menu
          contains links to all the actions needed by a library operator.
          The main actions are
          %em New Book
          and
          %em New User
          to register a newly purchased book into the library and for creating a new user account.
        %h6 New User
        %p
          Creating the account for a new user is as simple as filling the form. All fields are mandatory except the Nebis code that is necessary only if you have the barcode system inplace. For EPFL users, the Nebis code is printed on the back of the Camipro card.
        %h6 New Book
        %p
          Registering a new book to the library consists in three steps as described below.
