%li.well.bookli
  .row
    .span8
      %span.author=book.author
      %br
      -#%span.label.label-info=book.title
      %span.booktitle=book.title
      -if book.volume?
        %strong vol.
        =book.volume
      -if book.edition?
        = book.edition
        edition
      %br
      - if book.editor && !book.editor.empty?
        %strong Edited by
        =book.editor
      %br
      %span.publisher
        =book.publisher_name
    .span2
      =book.pubyear
      %br
      =book.isbn
      %br
      =book.call1
      =book.call2
      =book.call3
      =book.call4
      -if can? :update, book
        %br
        =link_to "Edit", edit_adm_book_path(book)
        |
        =link_to "Add Item", new_adm_book_item_path(book)
        |
        =link_to "Duplicate", adm_book_duplicate_path(book)
      -else
        %br
        %br
      %br
      =link_to 'more »', book
    .span1
      - if book.count_on_loan > 0
        %span.label.label-warning #{book.count_on_loan} on loan
        %br
      - if book.count_available > 0
        %span.label.label-success #{book.count_available} available
        %br
      - if book.count_missing > 0
        %span.label.label-inverse #{book.count_missing} missing
        %br
