-content_for(:title) do
  Books
  %small= @search ? "search result" : "No search, most recently added first."

-if @search
  %p
    Your query:
    = @search

- if @books.count > 0
  %ul.booklist.unstyled
    -@books.each do |b|
      = render b
- else
  %p No books where found matching your query.

= link_to 'New Book', new_book_path
