-content_for(:title) do
  Books
  %small= @subtitle || (@search ? "search result" : "No search, most recently added first.")

-if @search
  %p
    Your query:
    = @search

- unless @books.empty?
  = render :partial => "books/books"
  = might_paginate @paginate
- else
  %p No books where found matching your query.
