%li{:id => "inv_#{good.inv}"}
  #{good.item_id} - #{good.item.lab.nick}
  %br
  =item_location(good.item)
  %br
  %i{:class => "icon icon-trash uncheck", :data => {inv: good.item_id}}
  =full_item_status(good.item)

