-content_for(:title) do
  Books
  - if @isbn
    %br
    %small with ISBN = #{@isbn}

%p
  More than one book with ISBN #{@isbn} was found. Please select the one your want and then add a new item to it.
- if @deg_isbn
  %p
    Even better, help cleaning up our database by
    =link_to "merging", edit_adm_deg_isbn_path(@deg_isbn)
    the books into a single record.

= render :partial => "books/books"
