-content_for(:title) do
  Edit book.
  %small
    ISBN:
    =@book.isbn

-# TODO show this only if user can add books
%p
  \... or
  = link_to 'add an item', new_adm_book_item_path(@book)
  to this book or
  =link_to 'duplicate it', adm_book_duplicate_path(@book)
  \.

= render 'form'

= link_to 'Show', adm_book_path(@book)
\|
= link_to 'Back', :back
