%h2 400
%div
  %h3 Forbidden
  %p
    Sorry but you don't have valid credentials for accessing the data you are requesting.
  %p
    Want to
    %a{href: root_path} go back to our home page
    and try again?
