= simple_form_for @loan, :html => {:class=>"form-inline"}, :remote=>true do |f|
  = f.error_notification
  .row
    .span3
      = f.input :inv, :label => false, :placeholder => "inventory number"
    .span3
      = f.button :submit, :value => "Checkout"
