%h1 Search

= render 'form'

.alert.alert-info.alert-block
  %h1 Thot reloaded
  %p
    Dear library administrator/operator, as you see, we have rewritten the glorious Thot library system.
  %p
    Please
    =link_to "contact the administrator", "mailto:#{ENV['ADMIN_EMAIL']}"
    in order to obtain a new valid operator account.
