-content_for(:title) do
  Search Result
  %br
  %small=@search.items_oriented? ? "#{@search.items.count} items found" : "#{@search.books.count} books found"

%h2 Your search
= render 'form'

%h2
  = @search.items_oriented? ? "Items:" : "Books"

- if @search.items_oriented?
  %ul.booklist.unstyled
    - @search.items.each do |item|
      =render item #=render :partial => "items/item", :object => item
-else
  %ul.booklist.unstyled
    - @search.books.each do |book|
      =render book
