-book=item.book
%li.well.bookli
  .row
    .span1
      %strong=link_to item.inv, item
      %br
      =item.lab.nick
      %br
      =item.location.name
      %br
      =item_status(item)
    .span7
      %span.author=book.author
      %br
      -#%span.label.label-info=book.title
      %span.booktitle=book.title
      -if book.volume?
        %strong vol.
        =book.volume
      -if book.edition?
        = book.edition
        edition
      %br
      - if book.editor && !book.editor.empty?
        %strong Edited by
        =book.editor
      %br
      %span.publisher
        =book.publisher.name
    .span2
      =book.isbn
      %br
      =book.call1
      =book.call2
      =book.call3
      =book.call4
      -if can? :update, item
        %br
        =link_to "Edit", edit_item_path(item)
      -else
        %br
        %br
      %br
      =link_to 'more »', book
