-content_for(:title) do
  New Book Copy

%h3=@book.title
%h4
  - if @book.author.blank?
    - unless @book.editor.blank?
      edited by
      =@book.editor
  - else
    by
    =@book.author

= render 'form'
