-content_for(:title) do
  Items

-if @link_to_all
  %p
    Listing the items related to your labs. As administrator, you can also
    = link_to "list all items", adm_items_path(all: true)
    \.
- if @link_to_mine
  %p
    Listing all items. You can also
    = link_to "list only your items", adm_items_path

= render :partial => "items/items"
