/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *******************************************= require_tree
 * @import "formtastic";
 * @import "formtastic-bootstrap";
 * @import "datepicker"
 */
@import "bootstrap_and_overrides";

/* ------------------------------------------------------------ Sticky footer */
/* http://twitter.github.io/bootstrap/examples/sticky-footer.html */
html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -2em;
}
/* Set the fixed height of the footer here */
#push, #footer {
  height: 2em;
}
#footer {
  div {
    font-size: 75%;
    background-color: #333;
    text-align: center;
    color: #999;
    a {
      color: inherit;
    }
    a:hover {
      color: lighten(rgb(0, 85, 128), 20%);
    }
  }
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* -------------------------------------------------------------------------- */

.open > .dropdown-form {
  padding: 0.5em 2em;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  @include border-radius(0 0 6px 6px);
  @include box-shadow(0 1px 2px rgba(0,0,0,0.15));
}

.mergebooklist {
  dd.selected {
    color: #390;
  }
  dd.unselected {
    color: #930;
  }
  dd:hover, dd.selected:hover, dd.unselected:hover {
    color: #f90;
    cursor: hand;
    cursor: pointer;
  }
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.table {
  th.right, td.right {
    text-align: right;
  }
}
.table.sortable.table-bordered thead tr {
  .header {
    background-image: url(image_path("table_unsorted.gif"));
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    min-width: 30px;
    padding-right: 30px;
  }
  .headerSortUp {
    background-image: url(image_path("table_asc.gif"));
  }
  .headerSortDown {
    background-image: url(image_path("table_desc.gif"));
  }
}


.twocol {
  -webkit-column-count: 2; /* Saf3, Chrome*/
  -webkit-column-gap: 4%; /* Saf3, Chrome*/
  -moz-column-count: 2; /* FF3.5+ */
  -moz-column-gap: 4%; /* FF3.5+ */
  column-count: 2; /* Opera 11+*/
  column-gap: 4%; /* Opera 11+*/
}

.threecol {
  -webkit-column-count: 3; /* Saf3, Chrome*/
  -webkit-column-gap: 3%; /* Saf3, Chrome*/
  -moz-column-count: 3; /* FF3.5+ */
  -moz-column-gap: 3%; /* FF3.5+ */
  column-count: 3; /* Opera 11+*/
  column-gap: 3%; /* Opera 11+*/
}

.fourcol {
  -webkit-column-count: 4; /* Saf3, Chrome*/
  -webkit-column-gap: 2%; /* Saf3, Chrome*/
  -moz-column-count: 4; /* FF3.5+ */
  -moz-column-gap: 2%; /* FF3.5+ */
  column-count: 4; /* Opera 11+*/
  column-gap: 2%; /* Opera 11+*/
}

.booklist {
  li {
    margin-bottom: 1em;
    padding: 1em;
    position: relative;
    .title {
      width: 100%;
      font-size: 130%;
    }
    .author {
      width: 100%;
    }
    .editor {
      width: 100%
    }
    .publisher {
      width: 50%;
    }
  }
}

/*
.logo {
  background-image: url(image_path("thot_36r.png")), url(image_path("thot_36l.png"));
  background-repeat: no-repeat;
  background-position: left center, right center;
  // background: url(image_path("thot_36r.png")) no-repeat left center;
  padding-left: 40px;
  padding-right: 40px;
  height: 40px;
}
*/
.navbar {
  .logo {
    background-image: url(image_path("thot_36r.png")), url(image_path("thot_36l.png"));
    background-repeat: no-repeat;
    background-position: left center, right center;
    padding: 0 50px;
  }
  li {
    display: block;
  }
}

span.spacer {
  display: inline;
  padding-left: 3em;
}


.bookli {
  .booktitle {
    font-size: 120%;
    font-style: italic;
  }
  .publisher {
    font-weight: bold;
  }
}

#selectable {
  .ui-selecting { background: #FECA40; }
  .ui-selected { background: #F39814; color: white; }
}

.alert-info a {
  text-decoration: underline;
  color: darken(rgb(192, 152, 83), 10%);
  // color: rgb(192, 152, 83);
}

.carousel {
  background-color: #333;
  border: 1px solid #999;
}
/*
   Make rails3-jquery-autocomplete pick list appear correctly in Bootstrap.
   From https://gist.github.com/2168334
   Recommended by http://booleanbay.blogspot.com/2012/06/nest-of-inequity-and-despair-not-realy.html
   See also http://www.mcbsys.com/techblog/2012/10/convert-a-select-drop-down-box-to-an-autocomplete-in-rails/
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}
*/
// https://gist.github.com/4050836
ul.ui-autocomplete {
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: white;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  li {
    a {
      display: block;
      padding: 3px 15px;
      clear: both;
      font-weight: normal;
      line-height: 18px;
      color: #333;
      white-space: nowrap;
    }

    a:hover {
      color: #fff;
      text-decoration: none;
      background-color: #0088cc;
    }
  }
}

ul.goods {
  li { padding: 0.5em; }
  li:nth-child(even) {
    background-color: #ddd;
  }
}





/* docs */
.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
