-content_for(:title) do
  =@lab.nick
  %small=@lab.name

= link_to 'Edit lab info', edit_adm_lab_path(@lab)

- unless @admins.empty?
  %h3 Operators
  = render :partial => "adm/admins/admins"
- unless @users.empty?
  %h3 Users
  =render :partial => "adm/users/users"
