.logo.container-fluid
  %ul.nav
    %li
      =link_to "Thot", root_path, :class=>"brand"
    -if admin_signed_in?
      %li=link_to('Logout', destroy_admin_session_path, :method=>'delete')
      -#%li=link_to('Edit account', edit_admin_registration_path)
      %li=link_to("Me", current_admin)
      -if current_user.role? :admin
        %li= link_to('Admin', cpanel_path)
    -else
      %li= link_to('Login', new_admin_session_path)
      -#%li= link_to('Sign up', new_admin_registration_path)
      %li= link_to('Search', new_search_path)
    %li
      =form_tag books_path, method: :get, :class=>"navbar-search" do
        =text_field_tag :search, params[:search], :class=>"search-query", :placeholder=> "Quick Search"
