- if @nebis_user
  %div{:id => "nebis_timeout_dialog", :class => "modal hide fade"}
    .modal-header
      %button{:type => "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
      %h3 Nebis Session Timeout
    .modal-body
      %p
        The session that you have activated by scanning your nebis code will
        %b timeout
        in
        %span#nebis_timeout
          = @nebis_timeout
        seconds
    .modal-footer
      %button{:type => "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true"} Close
      =link_to "Reset Timer", nebis_extend_url(:json), :remote=>true, :class=>"btn btn-primary", :id=>"reset_timer_link"
